// -------- MUI --------
@import "bower_components/mui/src/sass/mui/colors";

$umbc-black:       #000000;
$umbc-black-dark:  darken(  $umbc-black, 10%); // This is nonsensical
$umbc-black-light: lighten( $umbc-black, 20%);
$umbc-gold:        #ffc20e;
$umbc-gold-dark:   darken(  $umbc-gold, 10%);
$umbc-gold-light:  lighten( $umbc-gold, 10%);
$umbc-red:         #ed1c24;
$umbc-red-dark:    darken(  $umbc-red, 10%);
$umbc-red-light:   lighten( $umbc-red, 10%);


$primary-color:       $umbc-gold;
$primary-color-dark:  $umbc-gold-dark;
$primary-color-light: $umbc-gold-light;

$accent-color:       $umbc-red;
$accent-color-dark:  $umbc-red-dark;
$accent-color-light: $umbc-red-light;

$appbar-font-color: $accent-color-dark;

$divider-color: $accent-color;

@import "bower_components/mui/src/sass/mui";
// END

// -------- fontawesome --------

$fa-font-path: "../bower_components/fontawesome/fonts";
@import "../bower_components/font-awesome/scss/font-awesome";

// END

body {
  background-color: $umbc-black-light;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
}

.header-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s;
}

#appbar-sidenav-toggle {
  background-color: $umbc-black-light;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: $accent-color;
  cursor: pointer;
  position: relative;
  left: -2px;
  margin-right: 18px;
}

.appbar-brand {
  font-size: 25px;
  color: $umbc-black-light;
  vertical-align: middle;
}

.appbar-brand:hover {
  text-decoration: none;
  color: $umbc-black-light;
}

#footer-divider {
  padding: 10px;
}

#g-footer {
  color: $accent-color;
  height: 20px;
}
