{% extends "base.html" %}

{% block titlecontent %}
  <h1>Linux Awareness Week</h1>
{% endblock %}

{% block content %}

  <p class="flow-text">
    Linux is everywhere. It runs on a huge number of the world's servers, almost all supercomputers,
    networking hardware, embedded devices, audio devices, cars, aeroplanes, gaming consoles, and
    Android smartphones. Without it, the Internet would be a very different, and potentially a much
    less free place. To most people, though, Linux is very invisible; although it is responsible for
    serving every Google search, routing all of our Internet traffic, and connecting us around the
    world, it does not usually cross our minds while we use it.
  </p>

  <p class="flow-text">
    Over this week from March 7th to March 13th, we take a little extra time to acknowledge the
    gigantic volunteer effort behind producing the free and democratic core of the operating system
    that powers the Internet today. At the end of this week, on March 13th, we'll be running our
    semiannual <a href="installfest.html">Installfest</a>, where seasoned Linux gurus volunteer to
                help curious users explore the world of Linux.
  </p>

{% endblock %}
