{% extends "muipage-titlepanel.html" %}

{% block content %}

<h3>Announcements and Events</h3>

<h3>Weekly Meetings</h3>
<p>
{% if info.Semester|lower in ["summer", "winter"] %}
  {% if info.Semester|lower == "summer" %}
  {% set past_semester = "Spring" %}
  {% set next_semester = "Fall" %}
  {% endif %}

  Meetings for the {{ past_semester }} have concluded, and will resume at the start of the
  {{ next_semester }} semester.
{% else %}
  Weekly meetings are held for the duration of the {{ info.Semester }} semester every
  {{ info.Meeting_day }} at {{ info.Meeting_time }} in {{ info.Meeting_room }}.
{% endif %}
</p>

{% if data.getboolean('Installfest_running_soon') %}
<h3>Next Installfest</h3>
<p>
{{ data.Installfest_date }}

<a target="_blank"
   href="{{ data.Installfest_eventlink }}"><img
   border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
</p>
{% endif %}

<h3>Join our Mailing List!</h3>
<p>
We recommend joining our <a href="mailinglist.html">mailing list</a> for current
information, event cancelations, and assistance.
</p>

{% endblock %}
