{% extends "muipage-titlepanel.html" %}

{% block content %}

<h3>Announcements and Events</h3>

<h3>Weekly Meetings (Spring 2015)</h3>
<p>
Held on Wednesdays at 12:00 PM in ITE 234.
</p>

<h3>Next Installfest</h3>
<p>
March 13, 2015

<a target="_blank"
   href="https://www.google.com/calendar/hosted/umbc.edu/event?action=TEMPLATE&tmeid=NmdrczQ3cGJxNXEzOWh0Z3RlMmEyNTdua2sgdW1iYy5lZHVfcDQxdG5lbWM0djZkZDdnNzBqaG4wdGFmODRAZw&tmsrc=umbc.edu_p41tnemc4v6dd7g70jhn0taf84%40group.calendar.google.com"><img
   border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
</p>

<h3>Join our Mailing List!</h3>
<p>
We recommend joining our <a href="mailinglist.html">mailing list</a> for current
information, event cancelations, and assistance.
</p>

{% endblock %}
