{% extends "muipage.html" %}

{% block content %}

  <h3>When and Where</h3>

  {% if data.getboolean('running_soon') %}
  <p>
    This semester, {{ info.Semester }} {{ info.Year }}, Installfest will be taking place on {{
    data.date }} in Main Street of the Commons. We'll start setting up at 11, and will be ready to
    begin installing by noon, and the event will be over by 6.
  </p>

  <p> <a target="_blank"
         href="{{ data.eventlink }}"><img
    border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a> </p>

  {% else %}
  <p>
    We are not planning another Installfest just yet this semester, but we announce each Installfest
    several times on our <a href="mailinglist.html">mailing list</a> well before it happens. Feel
    free to post on the list and ask, or to attend our weekly meetings.
  </p>
  {% endif %}

  <h3>What is Installfest?</h3>

  <p>
    Linux Users' Groups are not only communities for existing users of Linux to find camaraderie and
    support, but are also advocate organizations. We want to enable and empower individuals to take
    control of their computers by using free and open software.
  </p>

  <p>
    Each semester, we run Installfest, where seasoned Linux users volunteer their time to help
    newbies install Linux on their computers. We provide a wide selection of Linux flavors,
    appropriate for people of all skill levels. <em>All of the services and software involved are
      free.</em>
  </p>

  <h3>How do I get Linux Installed? / How does this Work?</h3>

  <p>
    If you want Linux, and want us to perform the installation, then you should come to Installfest.
    {% if data.getboolean('running_soon') %}
      {% if data.signup %}
        If you can make it, please complete our
        <a href="{{ data.signup }}">
          pre-registration form
        </a>
        and fill out the information about your computer and software requirements. We also <em>accept
          walk-ins</em>, but if you can, please complete our form. It helps us assess what resources
        we need, and prepare better for the event.
      {% else %}
        There is no information to fill out in order to sign up, but please bear in mind that we ask
        you to back up any important documents or programs, and
        <a href="http://windows.microsoft.com/en-us/windows/improve-performance-defragmenting-hard-disk#1TC=windows-7">
          defragment your hard drive
        </a>
        before you arrive, (if you want to retain your old files).
      {% endif %}
    {% else %}
      As mentioned above, we are not planning to run an Installfest in the very near future, so you
      may want to come to our weekly meetings instead, or ask on the <a
         href="mailinglist.html">mailing list</a> for when we plan to run our next Installfest.
    {% endif %}
  </p>

  <p>
    Before Installfest, you should <b>back up any important data</b> or programs on your computer,
    even if you are looking to dual-boot Linux and your current operating system. In the time before
    Installfest, you may want to start reading about available Linux distributions, and forming an
    opinion on what flavor might be best for you.
  </p>

  <p>
    You may also try out our demo laptops, which will be outfitted with common Linux flavors, to
    help you get a better idea what you might want out of Linux. Prior to starting installation with
    one of our volunteers, you'll be asked to sign a release form, acknowledging that we can't
    provide any sort of warranty on your installation. Afterwards, one of our volunteers will help
    you choose a Linux flavor, guide and you through installation, assist you in installing any
    software you might need, and give you information on how to use your new operating system and
    what do if you encounter problems.
  </p>

  <p>
    Be aware that all of the installers at the event are volunteers, and we can't provide any
    guarantee that your system will work the way you want. Sometimes, installs can take more time
    than we have available at Installfest. If that happens, you can come to our weekly meetings,
    during free hour every Wednesday, to complete your install.
  </p>

{% endblock %}
