{% extends "muipage.html" %}

{% block content %}

  <h3>When and Where</h3>

  <p>
    In the semester of Spring 2015, Installfest will be taking place on March 13th in Main Street of
    the Commons. We'll start setting up at 11, and will be ready to begin installing by noon, and
    the event will be over by 6.
  </p>

  <p> <a target="_blank"
    href="https://www.google.com/calendar/hosted/umbc.edu/event?action=TEMPLATE&tmeid=NmdrczQ3cGJxNXEzOWh0Z3RlMmEyNTdua2sgdW1iYy5lZHVfcDQxdG5lbWM0djZkZDdnNzBqaG4wdGFmODRAZw&tmsrc=umbc.edu_p41tnemc4v6dd7g70jhn0taf84%40group.calendar.google.com"><img
    border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a> </p>

  <h3>What is Installfest?</h3>

  <p>
    Linux Users' Groups are not only communities for existing users of Linux to find camaraderie and
    support, but are also advocate organizations. We want to enable and empower individuals to take
    control of their computers by using free and open software.
  </p>

  <p>
    Each semester, we run Installfest, where seasoned Linux users volunteer their time to help
    newbies install Linux on their computers. We provide a wide selection of Linux flavors,
    appropriate for people of all skill levels. <em>All of the services and software involved are
      free.</em>
  </p>

  <h3>How do I get Linux Installed? / How does this Work?</h3>

  <p>
    Firstly, be aware that all of the installers at the event are volunteers, and we can't provide
    any guarantee that your system will work as desired or intended afterward. Though uncommon,
    sometimes installs can take more time than we have available to work at Installfest, and in that
    case, you may want to come to our weekly meetings, during free hour every Wednesday, to
    complete your install.
  </p>

  <p>
    If you want Linux, and want us to perform the installation, then you should come to Installfest.
    If you can make it, please complete our
    <a href="https://docs.google.com/forms/d/1XcC40gVMXmQ7_CGCEswy6Zx4VtEeCud3cTXxs5rgGxE/viewform?edit_requested=true#start=invite">
      pre-registration form</a> and fill out the information about your computer and software
    requirements. We also <em>accept walk-ins</em>, but if you can, please complete our form. It
    helps us assess what resources we need, and prepare better for the event.
  </p>

  <p>
    Before Installfest, you should back up any important data or programs on your computer, even if
    you are looking to dual-boot Linux and your current operating system. In the time before
    Installfest, you may want to start reading about available Linux distributions, and forming an
    opinion on what flavor might be best for you.
  </p>

  <p>
    At Installfest, if you didn't complete the pre-registration form, you'll be asked to register.
    You may also try out our demo laptops, which will be outfitted with common Linux flavors, to
    help you get a better idea what you might want in a Linux flavor. Prior to starting installation
    with one of our volunteers, you'll be asked to sign a release form, acknowledging that we can't
    provide any sort of warranty on your installation. After doing so, one of our volunteers will
    help you choose a Linux flavor, guide and you through installation, assist you in installing
    any software you might need, and give you information on using your chosen flavor and what do if
    you encounter problems.
  </p>

{% endblock %}
