{% extends "muipage.html" %}

{% block content %}
        <h2>Mailing List</h2>

        <p>Interacting with the UMBC Linux User’s group using our mailing list requires that you
        subscribe first. There are two subscription options. By subscribing to the standard list,
        <code>umbclinux</code>, you will receive all LUG-related mail, including announcements,
        requests for help and suggestions, and community discussion. By subscribing to the
        announcements-only list, <code>umbclinux-news</code>, you will only receive urgent and
        important announcements regarding scheduled events, location changes, cancellations,
        etc.</p>

        <p>Don’t subscribe to both lists. The standard list already receives all announcements. By
        selecting the announcement-only list you reduce incoming mail but will miss any member
        discussions taking place on the list.</p>

        <h3><code>umbclinux</code> and <code>umbclinux-news</code> Subscriptions</h3>

        <ol>
          <li>If you are looking for an old message, or would like to see if your question has been
            asked previously, check the...

            <blockquote>
              <a href="https://lists.umbc.edu/lists/arc/umbclinux"><b>List Archives</b></a>
            </blockquote>...which provides a searchable index of previous messages.<br>
            <br>
          </li>

          <li>To join a mailing list click one of the following links:<br>
            <i>Joining a list is <b>required</b> (for protection against spammers) before you may
              send mail to the list...</i>

            <blockquote>
              <b>Subscribe to umbclinux General List</b>: send an e-mail message to <a href=
              "mailto:sympa@lists.umbc.edu?subject=sub%20umbclinux&amp;body=sub%20umbclinux">sympa@lists.umbc.edu</a>
              containing nothing but:

              <p><code>sub umbclinux</code></p>

              <p>in the body.<br>
              <b>Subscribe to umbclinux-news Announcements List</b>: send an e-mail message to <a href=
              "mailto:sympa@lists.umbc.edu?subject=sub%20umbclinux-news&amp;body=sub%20umbclinux-news">sympa@lists.umbc.edu</a>
              containing nothing but</p>

              <p><code>sub umbclinux-news</code></p>

              <p>in the body.</p>
            </blockquote>
          </li>

          <li>You will now receive LUG messages in your inbox. If you would like to reduce the
            number of messages, you may select “digest mode” which will reduce the messages to
            around one per day by combining the day’s messages into one. You may...

            <blockquote>
              <a href="https://lists.umbc.edu/lists/suboptions/umbclinux"><b>change subscription options - umbclinux</b></a><br>
              <a href="https://lists.umbc.edu/lists/suboptions/umbclinux-news"><b>change subscription options -
              umbclinux-news</b></a>
            </blockquote>...at any time.<br>
            <br>
          </li>

          <li>To send mail to the list, use the address...

            <blockquote>
              <a href="mailto:umbclinux@lists.umbc.edu"><b>umbclinux@lists.umbc.edu</b></a>
            </blockquote>
          </li>

          <li>To unsubscribe...

            <blockquote>
              <a href="https://lists.umbc.edu/lists/signoff/umbclinux"><b>unsubscribe
                  umbclinux</b></a><br>
              <a href="https://lists.umbc.edu/lists/signoff/umbclinux-news"><b>unsubscribe
                  umbclinux-news</b></a>
            </blockquote>
          </li>
        </ol><br>

{% endblock %}
