{% extends "base.html" %}

{% block content %}
        <h2>Mailing List</h2>

        <p class="flow-text">
          The UMBC Linux Users' Group runs a mailing list for community discussion, requests for
          help and suggestions, announcements, and information about upcoming events. To interact
          with and receive messages from our list, you must subscribe to it. If you would like to
          see past messages, our archives are public.
        </p>

        <h3>To <a href="https://lists.umbc.edu/lists/subscribe/umbclinux">Subscribe</a></h3>

        <p class="flow-text">
          Visit our <a href="https://lists.umbc.edu/lists/info/umbclinux">mailing list page</a>
          <emph>or</emph> send an email to
            <a href="mailto:sympa@lists.umbc.edu?subject=sub%20umbclinux&body=sub%20umbclinux">
              sympa@lists.umbc.edu</a>
          containing only the body

          <blockquote>
            <code>sub umbclinux</code>
          </blockquote>
        </p>

        <p class="flow-text">
          To change the amount of email you receive from this list, or otherwise change your
          subscription options, visit the
            <a href="https://lists.umbc.edu/lists/suboptions/umbclinux">subscription options page</a>.

          To send email and participate in our list, send email to <a
               href="mailto:umbclinux@lists.umbc.edu">umbclinux@lists.umbc.edu</a>, or use
             list-reply from your email client to respond to a particular message.
        </p>
  
        <p class="flow-text">
          Or, to <a href="https://lists.umbc.edu/lists/signoff/umbclinux">unsubscribe</a>, send a
          message to
          <a href="mailto:sympa@lists.umbc.edu?subject=unsubscribe%20umbclinux&body=unsubscribe%20umbclinux">
                sympa@lists.umbc.edu</a>
          containing only the body

          <blockquote>
            <code>unsubscribe umbclinux</code>
          </blockquote>
        </p>

{% endblock %}
