<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content= "University of Maryland Baltimore County Linux Users' group
    homepage with events, activities and mailing list.">
    <meta name="keywords" content="UMBC,University of Maryland Baltimore County,Unix,Linux,installfest,LUG">
    <meta name="author" content="UMBC Linux Users' Group">
    <meta name="robots" content="index,follow">
    <meta name="MSSmartTagsPreventParsing" content="true">

    {% block head %}
    {% endblock %}

  </head>

  <body>

    {% block body %}
    BASE TEMPLATE
    {% endblock %}

  </body>
</html>
