{% extends "base.html" %}

{% block head %}
  <!-- load MUI -->
  <link href="https://cdn.muicss.com/mui-0.0.1/css/mui.min.css" rel="stylesheet" type="text/css" />
  <link href="stylesheet.css" rel="stylesheet" type="text/css" />

  <script src="https://cdn.muicss.com/mui-0.0.1/js/mui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="style.js"></script>
  <title>UMBC Linux Users' Group</title>
{% endblock %}

{% block body %}

  {% block overlay %}
  <div id="overlay"></div>
  {% endblock %}

  {% block appbar %}
  <header class="header-shadow">
    <nav class="mui-appbar" role="navigation">
      <div class="mui-container">
        <table class="appbar-inner">
          <tbody>
            <tr class="mui-appbar-height">
              <td>
                <a id="appbar-sidenav-toggle" href="#sidenav">
                  <i class="fa fa-bars"></i>
                </a>
                <a class="appbar-brand mui-appbar-height" href="/">
                  UMBC LUG
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nav>
  </header>
  <div class="mui-appbar-height"><!--Blank space to account for the fixed header--></div>
  {% endblock %}

  <div class="mui-container">
    {% block innerbody  %}
    {% endblock %}
  </div>

  {% block footer %}
  <footer>
    <div class="mui-container">
      <div id="footer-divider" class="mui-divider-top"></div>
      <nav role="navigation">
        <div class="mui-container">
          <div id="g-footer" class="mui-text-center">
            <ul class="mui-list-unstyled mui-list-inline">
              <li><a href="{{ repository }}" class="helplink"
                  title="The source code for this site is on GitHub!">
                  <i class="fa fa-github"></i>&nbsp;This Site
                </a></li>
              {% if versionsum %}
                <li><a href="{{ versionlink }}" class="helplink"
                    title="This is the Git commit ID of this version of the site.">
                    <i class="fa fa-code-fork"></i>&nbsp;{{ versionsum }}
                  </a></li>
              {% endif %}
              {% if lastchanged %}
                <li>Changed {{ lastchanged }}</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </footer>
  {% endblock %}

  {% block sidenav %}
  <nav id="sidenav">
    <div class="mui-container-fluid">
      <div class="mui-appbar-line-height">
        <h2><a class="appbar-brand" href="/">UMBC LUG</a></h2>
        <div class="mui-divider-bottom"></div>
      </div>
      <ul class="sidenav-list">
        <li>This Site
          <ul>
        <!--
          Add a category to the sidenav.
          <li class="sidenav-list-category">Some Category</li>
        -->
            {% for name, path in pages.items() %}
              <li><a href="{{ root + path }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>Our Links
          <ul>
            {% for name, url in links.items() %}
              <li><a href="{{ url }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <!--
        <li>Friends
        </li>
        -->
      </ul>
    </div>
  </nav>
  {% endblock %}

{% endblock %}
